<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="language" content="en" />
    <title>Chat</title>
    <script type="text/javascript" src="./lib/js/require.js"></script>
	<script src="/socket.io/socket.io.js"></script>
</head>
<body>
</body>
</html>
